*{
    margin: 0;
    padding: 0;
}
#rub{
    width: 50%;
    height: 50px;
    background-color: red;
    border: solid black;
    text-align: center;
    margin: auto;
    font-size: 30px;
}
#con{
    background: red;
    border: solid black;
    margin: auto;
    width: 80%;
    height: 400px;
    font-size: 50px;
    text-align: center;
}
#op{
    margin: auto;
    background-color: red;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
}
#op > a{
    background-color: red;
    text-decoration: none;
    color: black;
    border: solid black 2px;
    width: 50%;
}