*{
    margin: 0;
    padding: 0;
}
#con{
    margin: auto;
    margin-top: 50px;
    width: 50%;
    height: 170px;
    background-color: red;
    border: solid black;
    padding: 5px;
}
#con > p{
    background-color: red;
}